.layout {
  background: #fff;
  min-height: 100vh;
}

.uni-navbar__header-container-inner {
  width: 100%;
}
.uni-nav-bar-text {
  font-weight: bold;
  font-size: 32px !important;
  color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-logo {
  width: 60px;
  height: 40px;
}
